.centerscreen {
  font-family: sans-serif;
  font-size: 20px;
  border-radius: 25px;
  background: grey;
  padding: 20px;
  width: 300px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -25px;
}
